<html>
    <head>

        <style>
            .x {
                margin-top: 180px;
                margin-bottom: 70px;
            }
            .z {
                margin-top: 50px;
            }
            body {
                background-image: url('/assets/ansbg.jpg');
                background-size: cover;
                background-repeat: no-repeat;
                background-position: center;
                image-rendering: -webkit-optimize-contrast;
                width: 100%;
            }
        </style>
    </head>
    <body>
        <h1 align="center" class="x"><a href="https://www.google.com/search?q=<%=que%>">CLICK ME</a> to get the answer for your question!!!</h1>
        <h1 align="center" class="y">Congratulations!!!  Your score is increased by 5 points</h1>
        <h1 align="center" class="z">To check your score, go to <a href="http://localhost:8080/rank">RANK</a> page.</h1>
    </body>
</html>