<html>
    <head>

    </head>

    <body>
        <h1 align="center" style="padding-top: 40px;"><b>LOGIN PAGE</b></h1>

        <form align="center" style="padding-top: 110px;">

            Name : <input type="text" name = "name"><br><br>
            User Name : <input type="text" name = "username"><br><br>
            Password : <input type="password" name = "password"><br><br>
            <input type="submit">

        </form>

        <p>Didn't Register?</p>
        <a href="http://localhost:3000/welcome/register"><p><i>Go to Registration Page</i></p></a>

    </body>
</html>