<html>


    <body>

        <h1 align = "center"><i>Welcome to movie review page</i></h1>
        
        <form align = "center" name="select">
            Enter movie name : <input type="text" name="moviename"><br><br>
            Have you watched the movie : <br><input type="radio" name="watch" value="YES">YES <input type="radio" name="watch" style="margin-left: 20px;" value="NO">NO<br>
        </form>
        <span id = "result">
        </span>
        <script>
            document.select.onclick = function() {
                var res = document.select.watch.value;
                if(res == "YES") {
                    result.innerHTML = 'You can give the review'
                    return 1;
                    //res = 1;
                } else {
                    //res = 0;
                }
                return 0;
                //result.innerHTML = 'You selected: ' + res;
                //return 0;
            }
            if(function()) {
                
            }
            
        </script>

        <h1>jhfcghjjhgjk</h1>

    </body>
</html>
