<html>
    <head>

    </head>
    <body>
        que page<br>
        <% for(var i=0;i<userData.length;i++) { %>
            <%= userData[i].name + " " + userData[i].score %><br>
        <% } %>
    </body>
</html>
