<html>
    <head>

        <style>
            table {
                font-family: arial, sans-serif;
                border-collapse: collapse;
                width: 80%;
            }
          
            td, th {
                border: 1px solid #dddddd;
                text-align: center;
                padding: 8px;
            }
          
            tr:nth-child(even) {
                background-color: #dddddd;
            }
        </style>
    </head>
    <body>
        <h1 align="center">RANK LIST</h1>
        <%=name%>
        <br>
        <%=username%>
        <br>

        <table class="table" align="center">
            <tr>
                <th>SNo</th>
                <th>Name</th>
                <th>UserName</th>
                <th>Score</th>
            </tr>
            <tr>
                <td>1</td>
                <td>akki</td>
                <td>akkk</td>
                <td>99</td>
            </tr>
            <tr>
                <td>1</td>
                <td>akki</td>
                <td>akkk</td>
                <td>99</td>
            </tr>
            <tr>
                <td>1</td>
                <td>akki</td>
                <td>akkk</td>
                <td>99</td>
            </tr>
        </table>
        
        
    </body>
</html>