<html>
    <head>

    </head>

    <body>

        <h1 align="center" style="padding-top: 40px;"><b>registration page</b></h1>

        <form align="center" style="padding-top: 90px;" action="/welcome/registersubmit" method="GET">
            First Name : <input type="text" name="firstname"><br><br>
            Last Name : <input type="text" name="lastname"><br><br>
            Email id : <input type="text" name="email"><br><br>
            Phone Number : <input type="text" name="phno"><br><br>
            User Name : <input type="text" name="username"><br><br>
            Password : <input type="password" name="password"><br><br>
            Re-enter Password : <input type="password" name="repassword"><br><br>
            <input type="checkbox">I agree to the terms and conditions<br><br>
            <input type="submit"><br>
        </form>

    </body>
</html>