<html>
    <head>

        <!-- CSS only -->
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">

        <style>
            .formm {
                border: 5px solid maroon;
                border-radius: 40px;
                margin-left: 450px;
                margin-right: 450px;
                margin-top: 40px;
                padding-top: 20px;
                padding-bottom: 20px;
                background-color: rgb(218, 219, 219);

            }
            .register {
                font-size: 160%;
                padding-top: 30px;
                font-family:cursive;
                color: brown;
            }
            input[type=text] {
                width: 70%;
                padding: 12px 20px;
                margin: 8px 0;
                border: 3px solid rgb(0, 0, 0);
                transition: 0.5s;
                outline: none;
            }
            
            input[type=text]:focus {
                border: 3px dashed maroon;
            }
            input[type=password] {
                width: 70%;
                padding: 12px 20px;
                margin: 8px 0;
                border: 3px solid rgb(0, 0, 0);
                transition: 0.5s;
                outline: none;
            }

            input[type=password]:focus {
                border: 3px dashed maroon;
            }
            /*input[type=submit] {
                width: 50%;
                padding: 12px 20px;
                margin: 8px 0;
                border: 3px solid rgb(182, 163, 163);
                transition: 0.5s;
                outline: none;
            }

            input[type=submit]:focus {
                border: 3px solid rgb(37, 97, 18);
            }*/
            div {
                font-style: oblique;
                font-weight: 900;
                font-size: 20px;
            }

            body {
                background-image: url('/assets/registrationbg.jpg');
                background-size: cover;
                background-repeat: no-repeat;
            }
        </style>
    </head>

    <body>

        <div align="center" style="font-size: 350%; color: maroon; height: 90px;"><i><b>SkyLimit</b></i></div>
        <h1 align="center" class="register"><b>REGISTRATION PAGE</b></h1>

        <form align="center" class="formm" action="/registersubmit" method="GET">
            <!--<div>First Name : </div><br>--><br><input type="text" placeholder="First Name" name="firstname"><br><br>
            <!--<div> Name : </div><br>--><input type="text" placeholder="Last Name" name="lastname"><br><br>
            <!--<div>Email id : </div><br>--><input type="text" placeholder="Email" name="email"><br><br>
            <!--<div>Phone Number : </div><br>--><input type="text" placeholder="Phone Number" name="phno"><br><br>
            <!--<div>User Name : </div><br>--><input type="text" placeholder="Username" name="username"><br><br>
            <!--<div>Password : </div><br>--><input type="password" placeholder="Password" name="password"><br><br>
            <!--<div>Re-enter Password : </div><br>--><input type="password" placeholder="Re-enter Password" name="repassword"><br><br>
            <button type="submit" class="btn-btn-success" style="border-radius: 12px; font-size: 18px; background-color: #ffffff;">Submit</button>
        </form>

    </body>
</html>