<html>
    <style>
        h1{
            padding-top: 300px;
        }
    </style>
    <body>
        <h1><center>Hey There! Welcome to the computer science study links</center></h1>
    </body>
</html>