<html>
    <style>

        .leftdiv
        {
            text-align: center;
            float: left;
            width: 61%;
            vertical-align: center;
            margin-bottom: 10px;
            font-size: 30px;
        }
        .middlediv
        {
            margin-top: 40px;
            float: left;
            width: 12%;
            text-align: center;
        }
        .rightdiv
        {
            margin-top: 40px;
            float: left;
            width: 12%;
            text-align: center;
        }
        .rightd {
            margin-top: 40px;
            float: left;
            width: 12%;
            margin-right: 0%;
            text-align: center;
        }
        div{
            color: rgb(150, 116, 116);
            /*width: 30%;*/
            border: solid rgb(255, 254, 254);
            vertical-align: 50%;
            background-color: lavenderblush;
        }
        .main {
            font-size: 40px;
            color: chocolate;
        }

    </style>
    
    
    <body>

        <div class = "bgg">
        <div class="leftdiv">
            <h1><i>movieReview</i></h1>
        </div>
        <div class="middlediv">
            <h3>login</h3>
        </div>
        <div class="rightdiv">
            <h3>register</h3>
        </div>
        <div class="rightd">
            <h3>dev info</h3>
        </div>
    </div>

        <p align="center" style="text-align: center; padding-top: 22%;" class = "main"><i><b>WELCOME TO MOVIE REVIEW SITE</b></i></p>
    </body>
</html>